# Django
DJANGO_SECRET_KEY=key
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=77.83.206.140
DJANGO_CSRF_TRUSTED_ORIGINS=http://77.83.206.140:8022
DJANGO_SECURE_SSL_REDIRECT=false
DJANGO_SESSION_COOKIE_SECURE=false
DJANGO_CSRF_COOKIE_SECURE=false
DJANGO_SECURE_HSTS_SECONDS=0

# PostgreSQL
POSTGRES_DB=avtoraqam
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
USE_SQLITE=false

# Telegram
TELEGRAM_BOT_TOKEN=key
TELEGRAM_CHAT_ID=-1004339924845
TELEGRAM_CHECK_INTERVAL_SECONDS=3600

# Резервный срок уведомления
EXPIRY_WARNING_DAYS=14
